
.ipynb_checkpoints/exploration_template-checkpoint.ipynb
.ipynb_checkpoints/slide_deck_template-checkpoint.ipynb
df_2017_clean.csv
.ipynb_checkpoints/exploration_template-checkpoint.ipynb
.ipynb_checkpoints/slide_deck_template-checkpoint.ipynb
./data/
*.zip
.ipynb_checkpoints/exploration_fordgobike_2017-checkpoint.ipynb
.ipynb_checkpoints/exploration_template-checkpoint.ipynb
.ipynb_checkpoints/slide_deck_fordgobike_2017-checkpoint.ipynb
.ipynb_checkpoints/exploration_template-checkpoint.ipynb
.ipynb_checkpoints/slide_deck_template-checkpoint.ipynb
